.neon.page-header
  h1 About Us

.main
  p Neon Controls was founded to meet the demanding needs of its customers for precision control of high pressure in the instrument and process industries. By applying advanced manufacturing methods, a series of very high quality regulators are now available to customers worldwide in a variety of materials and at very competitive prices. A unique inventory system and dedicated staff of experienced professionals provide fast delivery for even the most critical applications.
