<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neon Controls</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Ubuntu+Mono|Exo:200' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/stylesheets/font-awesome.css" type="text/css" rel="stylesheet" media="all">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet" media="all">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/js-url.js"></script>
  <body>
    <%= render '_tracking.html' %>
    <%= render '_nav.html.slim' %>
    <div class="container">
      <%= yield %>
    </div>

    <div id="get-quote-modal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Get a Quote</h3>
      </div>
      <div class="modal-body">
        <p>Fill out the form below and we'll get back to you as quickly as we can.</p>
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="from">From Email</label>
            <div class="controls">
              <input type="text" name="from" id="from" placeholder="you@example.com">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="from">Subject</label>
            <div class="controls">
              <input type="text" name="subject" id="subject" placeholder="Subject..." value="Sales Quote">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="from">Body</label>
            <div class="controls">
              <textarea name="body" id="body" class="span4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Send Message</a>
      </div>
    </div>

    <hr>

    <div class="footer">
      Copyright &copy;2012 Precision Instrumentation Co.
    </div>

  </body>
</html>
